fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
pgvector==0.2.5
openai
langchain==0.1.20
langchain-openai==0.1.7
langchain-community==0.0.38
tavily-python
langgraph
truststore
duckduckgo-search
pytz
redis
sentry-sdk
playwright==1.43.0
lxml==5.2.1
